.blog-container{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-sizing: content-box;
}

.blog-dirs{
    position: fixed;
    width: 20%;
    top: 4rem;
    bottom: 0%;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 2.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.blog-dirs .dir-head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #c2f3e1;
}

.blog-dirs > a{
    cursor: pointer;
    padding-left: 1rem;
}

.blog-show{
    margin-left: 16%;
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: 2;
    margin-bottom: 1.31rem;
    padding-top: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    min-height: 1000px;
    box-sizing: border-box;
}

.blog-show .blog-title{
    font-weight: 500;
    font-size: 2.5rem;
    cursor: pointer;
}