.edit-blog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-head{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: white;
    color: #252129;
    padding: 0.2rem 2rem;
    border-top: 1px solid #00965e;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.edit-head a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.25rem;
}

.edit-head a:hover{
    color: #212529;
}

.edit-head button{
    width: 8rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid #00965e;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #00965e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.blog-title{
    width: 100%;
    padding: 0.75rem 2.5rem;
    box-sizing: border-box;
}

.blog-title input{
    display: block;
    box-sizing: border-box;
    height: 2.5rem;
    width: 100%;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blog-title input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #00c97e;
    outline: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.blog-subjects{
    display: flex;
    width: 100%;
    margin-top: -0.25rem;
    flex-wrap: wrap;
}

.blog-subjects > a{
    height: 1.5rem;
    margin-left: 2.5rem;
    border: 1px solid rgb(245, 238, 238);
    line-height: 1.5rem;
    font-size: 0.75rem;
    padding: 0% 0.5rem;
    border-radius: 0.25rem;
    color: #44a782;
    cursor: pointer;
}

.editor-md-container{
    display: flex;
    position: absolute;
    left: 0%;
    width: 100%;
    background-color: #e9ecef;
    display: flex;
    top: 9rem;
    bottom: 0%;
}

.head-group a{
    text-align: center;
    display: block;
    line-height: 2rem;
}

.head-group a:hover{
    color: #00c97e;
    cursor: pointer;
}

.editor-controls{
    background-color: white;
    width: 2.5rem;
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: 700;
}

.editor-controls a{
    display: inline-block;
    height: 2rem;
    width: 2.5rem;
    margin-bottom: .25rem;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
    cursor: pointer;
}

.edit-container{
    width: 45%;
    top: 0%;
    bottom: 0%;
    background-color: white;
    flex: 1 1 auto;
}

.edit-container textarea{
    border: none;
    resize: vertical;
    border: 1px solid #ced4da;
    width: 100%;
    height: 99%;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;
}

.edit-container textarea:focus{
    border-color: #00c97e;
    outline: none;
}

.preview-container{
    flex: auto;
    border: 1px solid #ced4da;
    bottom: 0%;
    width: 45%;
    top: 0%;
    background-color: white;
    padding: 0.5rem 1rem;
    overflow-y: auto;
    word-break: break-all;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;
}