body,html,h1,h3,h5,p{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

.preview-container img{
  max-width: 100%;
}

.blog-content img{
  max-width: 100%;
}

*::-webkit-scrollbar{
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(233, 229, 229);
  border-radius: 0.25rem;
  height: 2rem;
}

@font-face {
  font-family: "iconfont"; /* Project id 2566077 */
  src: url('//at.alicdn.com/t/font_2566077_4odkwn4dl3v.woff2?t=1622617858090') format('woff2'),
       url('//at.alicdn.com/t/font_2566077_4odkwn4dl3v.woff?t=1622617858090') format('woff'),
       url('//at.alicdn.com/t/font_2566077_4odkwn4dl3v.ttf?t=1622617858090') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e616";
}

.icon-xuhao:before {
  content: "\e77a";
}

.icon-down2:before {
  content: "\e613";
}

.icon-xiangyou-copy:before {
  content: "\e614";
}

.icon-gengduo:before {
  content: "\e615";
}

.icon-zengjiatianjiaxinzenggengduo:before {
  content: "\e70a";
}

.icon-liulan:before {
  content: "\e612";
}

.icon-bianji:before {
  content: "\e67d";
}

.icon-shijianshi:before {
  content: "\e6af";
}

.icon-HTML:before {
  content: "\e7d2";
}

.icon-node-jsNodejsxingnengpingtai:before {
  content: "\e601";
}

.icon-SQL:before {
  content: "\e60a";
}

.icon-NGINX:before {
  content: "\e66d";
}

.icon-Vue:before {
  content: "\e60d";
}

.icon-react:before {
  content: "\e602";
}

.icon-css:before {
  content: "\e604";
}

.icon-java-script:before {
  content: "\e605";
}

.icon-webpack:before {
  content: "\e62c";
}

.icon-ts:before {
  content: "\e611";
}

.icon-fengexian:before {
  content: "\e60c";
}

.icon-shipin:before {
  content: "\e610";
}

.icon-link1:before {
  content: "\e603";
}

.icon-dashujukeshihuaico-:before {
  content: "\e802";
}

.icon-xieti:before {
  content: "\e606";
}

.icon-edui-for-blockquote:before {
  content: "\e67c";
}

.icon-biaoti:before {
  content: "\e600";
}

.icon-suojin:before {
  content: "\e76a";
}

.icon-biaoge:before {
  content: "\e703";
}

.icon-jiacu:before {
  content: "\e6b8";
}

.icon-gongshi:before {
  content: "\e608";
}

.icon-jianshaosuojin:before {
  content: "\e62d";
}

.icon-bangzhu:before {
  content: "\e6ae";
}

.icon-tupian:before {
  content: "\e6ce";
}

.icon-youxuliebiao:before {
  content: "\e64e";
}

.icon-wuxuliebiao:before {
  content: "\e609";
}

.icon-houyitian:before {
  content: "\e67a";
}

.icon-qianyitian:before {
  content: "\e699";
}

.icon-zhongdian1:before {
  content: "\e6ac";
}

.icon-qidian:before {
  content: "\e633";
}

.icon-zhongdian:before {
  content: "\e623";
}

.icon-2:before {
  content: "\e624";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-tubiao15:before {
  content: "\e60f";
}

.icon-fanhui:before {
  content: "\e6d5";
}

.icon-renzheng:before {
  content: "\e63f";
}

.icon-renzheng1:before {
  content: "\e6dc";
}

.icon-xiangyou:before {
  content: "\e74a";
}

.icon-fabu:before {
  content: "\e63b";
}

.icon-icon--:before {
  content: "\e743";
}

.icon-guanyu:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-help1:before {
  content: "\e627";
}

.icon-info:before {
  content: "\e643";
}

.icon-menu:before {
  content: "\e652";
}

.icon-next:before {
  content: "\e65b";
}

.icon-ok:before {
  content: "\e65e";
}

.icon-phone:before {
  content: "\e663";
}

.icon-previous:before {
  content: "\e669";
}

.icon-up:before {
  content: "\e688";
}

.icon-upload:before {
  content: "\e689";
}

.icon-kefujingli-:before {
  content: "\e65f";
}

.icon-jiache:before {
  content: "\e68a";
}

.icon-gongjiao:before {
  content: "\e68b";
}

.icon-buhang:before {
  content: "\e68c";
}

.icon-qq:before {
  content: "\e6da";
}

.icon-huichengche:before {
  content: "\e6fc";
}

.icon-geren:before {
  content: "\e71d";
}

.icon-help:before {
  content: "\e752";
}

.icon-dingwei:before {
  content: "\e626";
}

.icon-shaixuan:before {
  content: "\e68d";
}

.icon-maijiagouwuche:before {
  content: "\e992";
}
